QUEUEBASH_AZURE_ENABLED=1
QUEUEBASH_AZURE_LIVE_CHECKS=0
QUEUEBASH_AZURE_AUTH_MODE=managed_identity
QUEUEBASH_AZURE_TENANT_ID=
QUEUEBASH_AZURE_SUBSCRIPTION_ID=
QUEUEBASH_AZURE_REGION=uksouth
QUEUEBASH_AZURE_REQUIRE_MANAGED_IDENTITY=1
QUEUEBASH_AZURE_REQUIRE_NSG=1
QUEUEBASH_AZURE_REQUIRE_SAS_REDACTION=1
QUEUEBASH_AZURE_REQUIRE_AUDIT_LOGGING=1
