QUEUEBASH_AZURE_ARTIFACT_ACCOUNT=
QUEUEBASH_AZURE_ARTIFACT_CONTAINER=queuebash-artifacts
QUEUEBASH_AZURE_ARTIFACT_PREFIX=queuebash/
QUEUEBASH_AZURE_SAS_REDACTION_REQUIRED=1
QUEUEBASH_AZURE_STORAGE_LIVE_CHECKS=0
