QUEUEBASH_OCI_ARTIFACT_BUCKET=queuebash-artifacts
QUEUEBASH_OCI_ARTIFACT_PREFIX=queuebash/dev-test/
QUEUEBASH_OCI_PAR_SUPPORTED=1
QUEUEBASH_OCI_PAR_EXPIRY_REQUIRED=1
QUEUEBASH_OCI_PAR_LOG_REDACTION=1
QUEUEBASH_OCI_OBJECT_RETENTION_DAYS=30
