# bashqueues AWS provider example policy
QUEUEBASH_AWS_LIVE_CHECKS=0
QUEUEBASH_AWS_FIXTURE_DIR=tests/fixtures/aws
QUEUEBASH_AWS_ALLOWED_ACCOUNTS="123456789012"
QUEUEBASH_AWS_ALLOWED_REGIONS="eu-west-2,eu-west-1,us-east-1,us-gov-west-1"
QUEUEBASH_AWS_STORE_SECRETS=0
